n8n/email-daily-agenda-workflow.json
{
  "name": "Email Daily Agenda Sender - DB Secrets",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-daily-agenda",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "Webhook_Email_Daily_Agenda",
      "name": "Email Daily Agenda Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\n\nconst backendBaseUrl = String(body.backend_base_url || 'http://backend:8000').replace(/\\/$/, '');\nconst agendaDate = String(body.agenda_date || '').trim();\nconst accessToken = String(body.access_token || '').trim();\n\nif (!agendaDate) {\n  throw new Error('agenda_date is required');\n}\nif (!accessToken) {\n  throw new Error('access_token is required');\n}\n\nreturn [{\n  json: {\n    status: 'prepared',\n    source: 'n8n_email_daily_agenda',\n    agenda_date: agendaDate,\n    backend_url: `${backendBaseUrl}/api/v1/notifications/email/send-direct?agenda_date=${encodeURIComponent(agendaDate)}`,\n    authorization: `Bearer ${accessToken}`\n  }\n}];"
      },
      "id": "Prepare_Email_Backend_Call",
      "name": "Prepare Backend Email Call",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.backend_url}}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$json.authorization}}"
            }
          ]
        },
        "sendBody": false,
        "options": {}
      },
      "id": "Call_Backend_Send_Email",
      "name": "Call Backend Send Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [820, 300]
    },
    {
      "parameters": {
        "jsCode": "const backendResponse = $input.first().json;\nreturn [{\n  json: {\n    status: 'sent',\n    source: 'n8n_email_daily_agenda',\n    backend_response: backendResponse\n  }\n}];"
      },
      "id": "Return_Email_Result",
      "name": "Return Email Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Email Daily Agenda Webhook": {
      "main": [[{"node": "Prepare Backend Email Call", "type": "main", "index": 0}]]
    },
    "Prepare Backend Email Call": {
      "main": [[{"node": "Call Backend Send Email", "type": "main", "index": 0}]]
    },
    "Call Backend Send Email": {
      "main": [[{"node": "Return Email Result", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "step-14-email-digest-db-secrets",
  "triggerCount": 1,
  "tags": []
}
