n8n/workflows/email-daily-agenda.json
{"name":"Email Daily Agenda","nodes":[{"parameters":{"path":"email-daily-agenda","responseMode":"lastNode","options":{}},"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"email-daily-agenda"},{"parameters":{"jsCode":"const b=$json.body||$json; return [{json:{status:'sent_simulated',to_email:b.to_email,subject:b.subject,text:String(b.text||'Daily agenda')}}];"},"id":"simulate","name":"Simulate Email Send","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0]},{"parameters":{"respondWith":"json","responseBody":"={{$json}}","options":{}},"id":"respond","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[460,0]}],"connections":{"Webhook":{"main":[[{"node":"Simulate Email Send","type":"main","index":0}]]},"Simulate Email Send":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"active":false}
