n8n/workflows/telegram-daily-agenda.json
{"name":"Telegram Daily Agenda","nodes":[{"parameters":{"path":"telegram-daily-agenda","responseMode":"lastNode","options":{}},"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"telegram-daily-agenda"},{"parameters":{"jsCode":"const body = $json.body || $json;\nreturn [{ json: {\n  chat_id: body.telegram_chat_id,\n  text: String(body.text || body.message || 'Daily agenda'),\n  bot_token: body.telegram_bot_token\n}}];"},"id":"prepare","name":"Prepare Telegram Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,0]},{"parameters":{"method":"POST","url":"={{'https://api.telegram.org/bot' + $json.bot_token + '/sendMessage'}}","sendBody":true,"contentType":"json","jsonBody":"={{ JSON.stringify({ chat_id: $json.chat_id, text: $json.text }) }}","options":{}},"id":"send","name":"Send Telegram Message","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[440,0]},{"parameters":{"respondWith":"json","responseBody":"={{ { status: 'sent', source: 'n8n_telegram_daily_agenda', telegram_response: $json } }}","options":{}},"id":"respond","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[660,0]}],"connections":{"Webhook":{"main":[[{"node":"Prepare Telegram Message","type":"main","index":0}]]},"Prepare Telegram Message":{"main":[[{"node":"Send Telegram Message","type":"main","index":0}]]},"Send Telegram Message":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"active":false}
