n8n/workflows/telegram-daily-agenda-workflow.json
{
  "name": "Telegram Daily Agenda Sender - Secure",
  "nodes": [
    {"parameters": {"httpMethod": "POST", "path": "telegram-daily-agenda", "responseMode": "lastNode", "options": {}}, "id": "webhook", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [0, 0]},
    {"parameters": {"jsCode": "const b = $json.body || $json;\nreturn [{ json: {\n  bot_token: b.telegram_bot_token,\n  chat_id: String(b.telegram_chat_id),\n  text: String(b.telegram_message || 'Daily agenda is ready.')\n}}];"}, "id": "prepare", "name": "Prepare Telegram Message", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [220, 0]},
    {"parameters": {"method": "POST", "url": "={{'https://api.telegram.org/bot' + $json.bot_token + '/sendMessage'}}", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ { chat_id: $json.chat_id, text: $json.text } }}", "options": {}}, "id": "send", "name": "Send Telegram Message", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [460, 0]},
    {"parameters": {"jsCode": "return [{ json: { status: 'sent', source: 'n8n_telegram_daily_agenda', telegram_response: $json } }];"}, "id": "response", "name": "Return Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [700, 0]}
  ],
  "connections": {"Webhook": {"main": [[{"node": "Prepare Telegram Message", "type": "main", "index": 0}]]}, "Prepare Telegram Message": {"main": [[{"node": "Send Telegram Message", "type": "main", "index": 0}]]}, "Send Telegram Message": {"main": [[{"node": "Return Response", "type": "main", "index": 0}]]}},
  "active": false,
  "settings": {"executionOrder": "v1"}
}
